@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#yeseva {
  font-family: "Yeseva One", cursive;
}

#mont {
  font-family: "Montserrat", sans-serif;
}

#yesevamain {
  font-family: "Yeseva One", cursive;
  font-size: 30px;
}
