@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

#brand {
  font-family: "Karla", sans-serif;
}

#header1 {
  font-family: "Yeseva One", cursive;
}

#input {
  font-family: "Montserrat", sans-serif;
}

#tabs {
  font-family: "Montserrat", sans-serif;
}
